timm==1.0.24
httpcore==1.0.9
smmap==5.0.2
typing-inspection==0.4.2
GitPython==3.1.46
anyio==4.12.1
matplotlib==3.10.8
annotated-types==0.7.0
typing_extensions==4.15.0
gitdb==4.0.12
hf-xet==1.2.0
kiwisolver==1.4.9
typer-slim==0.21.1
h11==0.16.0
pydantic_core==2.41.5
httpx==0.28.1
pydantic==2.12.5
seaborn==0.13.2
huggingface_hub==1.4.1
wandb==0.24.2
shellingham==1.5.4
tqdm==4.67.3
sentry-sdk==2.52.0
safetensors==0.7.0
namex==0.0.8
ipython==8.20.0
types-bleach==6.1
types-caldav==1.3
Jinja2==3.1.2
certifi==2023.11.17
jaxlib==0.6.0
types-braintree==4.24
command-not-found==0.3
optree==0.15.0
types-flake8-builtins==2.2
types-flake8-typing-imports==1.15
types-WTForms==3.1
jedi==0.19.1
types-PyAutoGUI==0.9
pycodestyle==2.11.1
argcomplete==3.1.4
Brotli==1.1.0
types-pycocotools==2.0
pyzmq==24.0.1
click==8.1.6
bottle==0.12.25
configobj==5.0.8
types-Pygments==2.16
psutil==5.9.8
pydevd==2.10.0
types-Send2Trash==1.8
types-humanfriendly==10.0
types-Pillow==10.1
types-openpyxl==3.1
prompt-toolkit==3.0.43
bytecode==0.15.1
ptyprocess==0.7.0
types-decorator==5.1
types-python-jose==3.3
cssselect==1.2.0
types-uWSGI==2.0
unattended-upgrades==0.1
userpath==1.9.1
botocore==1.34.46
pycparser==2.21
types-tensorflow==2.12
tensorboard==2.19.0
types-aws-xray-sdk==2.12
types-python-dateutil==2.8
types-flake8-docstrings==1.7
tmuxp==1.38.0
nest-asyncio==1.5.4
mdurl==0.1.2
types-netaddr==0.9
types-ibm-db==3.2
mpmath==0.0.0
pyasn1==0.4.8
lazr.uri==1.0.6
debugpy==1.8.0
MarkupSafe==2.1.5
types-tree-sitter==0.20.1
wadllib==1.3.6
types-mock==5.1
parso==0.8.3
types-protobuf==4.24
types-first==2.0
types-httplib2==0.22
tensorflow==2.19.0
types-pyRFC3339==1.1
types-chevron==0.14
ply==3.11
unicodedata2==15.1.0
types-whatthepatch==1.0
ipykernel==6.29.3
types-mysqlclient==2.2
olefile==0.46
Werkzeug==3.0.1
executing==2.0.1
types-docutils==0.20
PyGObject==3.48.2
matplotlib==3.6.3
types-gdb==12.1
types-requests==2.31
types-usersettings==1.1
types-keyboard==0.13
types-influxdb-client==1.38
types-redis==4.6.0
types-ujson==5.8
beautifulsoup4==4.12.3
h5py._debian_h5py_serial==3.10.0
protobuf==4.21.12
kiwisolver==0.0.0
blinker==1.7.0
types-setuptools==68.2
Markdown==3.5.2
types-click-default-group==1.2
types-pywin32==306
types-stripe==3.5
types-dockerfile-parse==2.0
types-python-slugify==8.0
wrapt==1.15.0
Pygments==2.17.2
types-waitress==2.1
types-greenlet==3.0
gast==0.5.2
types-requests-oauthlib==1.3
types-commonmark==0.9
defusedxml==0.7.1
pyparsing==3.1.1
appdirs==1.4.4
types-pyxdg==0.28
types-xmltodict==0.13
pandas==2.1.4+dfsg
python-magic==0.4.27
packaging==24.0
types-six==1.16
dbus-python==1.3.2
jsonpatch==1.32
libtmux==0.30.2
types-workalendar==17.0
pyrsistent==0.20.0
types-cachetools==5.3
mccabe==0.7.0
virtualenv==20.25.0+ds
types-translationstring==1.4
nvidia-ml-py==12.555.43
types-peewee==3.17
PyYAML==6.0.1
types-beautifulsoup4==4.12
launchpadlib==1.11.0
pyOpenSSL==23.2.0
sos==4.8.2
pyflakes==3.2.0
types-opentracing==2.4
sympy==1.12
types-boltons==23.0
einops==0.8.0
types-tqdm==4.66
Glances==3.4.0.3
jsonschema==4.10.3
pycryptodomex==3.20.0
types-entrypoints==0.4
stack-data==0.6.3
jmespath==1.0.1
types-jsonschema==4.19
types-pyinstaller==6.1
pure-eval==0.0.0
icdiff==2.0.7
types-Flask-SocketIO==5.3
typing_extensions==4.10.0
types-fpdf2==2.7.4
types-pyasn1==0.5
types-zstd==1.5
types-paramiko==3.3
types-pyfarmhash==0.3
entrypoints==0.4
distlib==0.3.8
bleach==6.1.0
joblib==1.3.2
types-tree-sitter-languages==1.8
types-oauthlib==3.2
cycler==0.11.0
types-toml==0.10
torch==2.7.0
pillow==10.2.0
websocket-client==1.7.0
types-python-xlib==0.33
types-flake8-bugbear==23.9.16
docker==5.0.3
types-libsass==0.22
flake8==7.0.0
types-pynput==1.7
types-boto==2.49
types-Markdown==3.5
types-pluggy==1.2.0
types-psutil==5.9
urllib3==2.0.7
soupsieve==2.5
types-retry==0.9
types-console-menu==0.8
types-passlib==1.7
types-inifile==0.4
ujson==5.9.0
pysnmp==4.4.12
idna==3.6
numpy==1.26.4
types-pika-ts==1.3
cloud-init==25.2
pyserial==3.5
flash-attn==2.7.4.post1
types-aiofiles==23.2
lxml==5.2.1
distro-info==1.7+build1
types-croniter==2.0
types-colorama==0.4
types-pyjks==20.0
types-pytest-lazy-fixture==0.6
py==1.11.0
types-pexpect==4.8
types-Deprecated==1.2
netaddr==0.8.0
types-parsimonious==0.10
types-psycopg2==2.9
types-pep8-naming==0.13
html5lib==1.1
types-untangle==1.2
attrs==23.2.0
fs==2.4.16
netifaces==0.11.0
iotop==0.6
types-html5lib==1.1
types-PyYAML==6.0
opt-einsum==3.3.0
jax-cuda12-pjrt==0.6.0
types-pyflakes==3.1
cryptography==41.0.7
cryptography==41.0.7
types-portpicker==1.6
types-mypy-extensions==1.0
bcc==0.29.1
types-ExifRead==3.0
types-seaborn==0.13
types-pyOpenSSL==23.3
types-regex==2023.10.3
h5py==3.10.0
ufoLib2==0.16.0
msgpack==1.0.3
types-singledispatch==4.1
pystache==0.6.0
setuptools==68.1.2
types-pyserial==3.5
types-jmespath==1.0
ml-dtypes==0.5.1
fonttools==4.46.0
types-Flask-Cors==4.0
scikit-learn==1.4.1.post1
types-s2clientprotocol==5
requests==2.31.0
traitlets==5.5.0
types-tabulate==0.9
astunparse==1.6.3
boto3==1.34.46
six==1.16.0
coverage==7.4.4
PyJWT==2.7.0
types-flake8-2020==1.8
threadpoolctl==3.1.0
SciPy==1.11.4
comm==0.2.1
types-qrcode==7.4
types-PyScreeze==0.1.29
colorama==0.4.6
httplib2==0.20.4
asttokens==2.4.1
python-apt==2.7.7+ubuntu5
s3transfer==0.10.1
grpcio==1.51.1
types-pysftp==0.2
torchvision==0.22.0
types-tzlocal==5.1
tornado==6.4
termcolor==1.1.0
types-pyaudio==0.2
types-hdbcli==2.18
types-playsound==1.3
types-flake8-rst-docstrings==0.3
types-editdistance==0.6
pipx==1.4.3
types-ldap3==2.9
types-toposort==1.10
google-pasta==0.2.0
influxdb==5.3.1
types-dateparser==1.1
rich==13.7.1
jax-cuda12-plugin==0.6.0
types-ttkthemes==3.2
markdown-it-py==3.0.0
types-slumber==0.7
wcwidth==0.2.5
webencodings==0.5.1
types-cffi==1.16
lz4==4.0.2+dfsg
types-vobject==0.9
absl-py==2.1.0
types-JACK-Client==0.5
types-python-gflags==3.1
types-PyMySQL==1.1
jsonpointer==2.0
types-Flask-Migrate==4.0
decorator==5.1.1
types-python-crontab==3.0
contourpy==1.0.7
oauthlib==3.2.2
flatbuffers==2.0.8+dfsg1
matplotlib-inline==0.1.6
lazr.restfulclient==0.14.6
filelock==3.13.1
chardet==5.2.0
keras==3.10.0
types-flake8-simplify==0.21
types-python-nmap==0.7
types-click-spinner==0.1
pexpect==4.9.0
wheel==0.42.0
ufw==0.36.2
pytz==2024.1
types-docopt==0.6
types-WebOb==1.8
pysmi==0.3.4
jupyter_core==5.3.2
platformdirs==4.2.0
ssh-import-id==5.11
types-passpy==1.0
types-zxcvbn==4.4
jupyter_client==7.4.9
pip==24.0
types-stdlib-list==0.8
types-pycurl==7.45.2
fsspec==2024.3.1
types-pytz==2023.3.post1
types-google-cloud-ndb==2.2
cffi==1.16.0
types-polib==1.2
Babel==2.10.3
types-flake8-plugin-utils==1.3
triton==3.3.0
types-python-datemath==1.5
types-simplejson==3.19
types-paho-mqtt==1.6
python-dateutil==2.8.2
jax==0.6.0
networkx==2.8.8
distro==1.9.0
